.manage-schedule-container{
    .m-s-title{
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
    }

    .pick-hours-container{
        margin: 15px 0;
        text-align: center;
        .range-time-btn{
            margin: 20px;
            border: none;
            border-radius: 3px;
            flex-wrap: wrap;
            width: fit-content;
            background-color: antiquewhite;
            &.active{
                background-color: orange;
            }
        }
        button{
            padding: 5px 10px;
        }
    }
}