.profile-doctor-container{
    .intro-doctor{
        width: 100%;
        border-right:  0.5px solid #dadada;
        display: flex;
        padding-right: 15px;
        .content-left{
            width: 80px !important;
            height: 80px !important;
            border-radius: 50%;
            background-size: cover;
        }
        .content-right{
            width: calc(100% - 80px);
            padding-left: 15px;
            .content-right-content{
                text-align: justify;
            }
        }
    }
    .province{
        display: flex;
        span{
            padding: 4px;
        }
    }
    .link-detail{
        .link-detail-to{
            text-decoration: none;
            cursor: pointer;
            color: #45c3d2;
        }
    }
}